
body
{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    color: 000;
    font-size: 16px;
    width: auto;
    overflow-x: hidden;
    
    /* position: relative; */

} 
.container
{
    width: 1920px;
    position: relative;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin: auto;

}
/* HEADER */
.header
{
    background-color:#67AEFC; 
    width: 100%;
}
.menu
{   
    /* width: auto; */
    /* left: auto; */
    background-color:#67AEFC; 
    height: 95px;
    display: flex;
    align-items: center;

}
.logo
{   
    
    padding-left: 20%;
    padding-right:10% ;
    
}

.menu ul a
{   
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-right:37px ;
}

.menu_order
{   
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    background-color: #75E169;
    border-radius: 5px;
    padding: 10px 42px; 
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 10px; 
}
.menu_order:hover
{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}
.menu_order:active
{
    color: #67AEFC;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}
/* SECTION 1 */

.section_1
{   
    position: relative;
    background-color:  #DAECFF;
    padding-top:171px ;
    background-color: #FFFFFF;
    height: 766px;
    position: relative;
    margin-right:0px ;
}
/* LEFT  1*/
.img_sphere_1l
{   
    position:absolute;
    top: 120px;
    left:239px ;
    
}
.img_ellipse_1l
{
    position:absolute;
    top: 542px;
    left: -2px;
    
   
}
.img_wave_1l
{
    position:absolute;
    z-index: 1;
    top: 607px;
    left: 65px;
}

/* CENTER 1 */

.center_1
{
    margin-left: 375px;
    text-align: left;
    width: 838px;
    
    
}
.center_1 h1
{   
    /* margin-top: 171px; */
    margin-top: 0px;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;
    padding-right: 275px;
}
.center_1 p
{

    width: 432px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.order
{   
    display: block;
    width: 86px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    background-color: #75E169;
    border-radius: 5px;
    border: 1px solid #fff; 
    padding: 23px 92px; 
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 10px; 
}
.order:hover
{
    border: 2px solid #67AEFC;
    border-radius: 5px;
}
.order:active
{
    background: #67AEFC;
    border-radius: 5px;
}

/*RIGHT IMG 1*/

.img_cart_1r
{
    position: absolute;
    width: 621px;
    top: 165px;
    left:994px;
    z-index: 1;

}
.img_ellipse2_1r
{
    position: absolute;
    width: 609px;
    
    left: 1310px;
    top: 82px;
}
.img_cylinder_1r
{
    position: absolute;
    left: 1231px;
    top: 92px;
    
}

/* SECTION 2 */
.section_2
{
    position: relative;
    background-color:  #DAECFF;
    /* height: 703px; */
    padding-top: 120px;
    padding-bottom: 120px;
}
.acor-container h2
{
height: 105px;
margin-bottom:13px ;
}

  /* ACORDION */

  .acor-container 
{
    margin: 20px 0;
    width: 1169px;
    margin-left: 375px;   
    margin-right: 375px;
}

.acor_head
{
    vertical-align: middle;
    margin: 0px;
    
}
.acor_head img
{
    vertical-align: middle;
    margin-right:26px ;
    
}

.acor_head .img_acord_on
{
    display: none;
    /* visibility: hidden */
    /* opacity: 0; */
    
}

    
.acor-container h2
{
    font-weight: 800;
    font-size: 32px;
    line-height:  40px;
    text-align: center;
}
.acor-container .acor-body 
{
    width: calc(100%);
    margin: 0 auto;
    margin-top: 10px;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #FFFFFF;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 16px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2); */
}
.acor-container .acor-body p 
{
    margin:0px;
    border-left: 1px solid #000000 ;
    border-spacing: 30px;
    padding-left: 40px;

}
.acor-container label 
{
    cursor: pointer;
    background-color: #FFFFFF;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #111111;
    font-weight: 300;
    box-sizing: border-box;
    border-radius: 15px;
    z-index: 100;
    font-family: Verdana, sans-serif;   
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}
/* дії при наведенні */
.acor-container label:hover 
{
    color: #111111;
}
/* приховує чекбокс */
.acor-container input
{
    display: none; 
}
/* анімація стрілочки */
.acor-container label:before 
{
    content: '\276F';
    float: right;
    color: #000;
    transform: rotate(90deg);
    transition: transform .35s;
}
/* дія при кліку */
.acor-container input:checked + label 
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #FFFFFF;
    color: #111111;
    /* box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3); */
    
}
input:checked + label 
{   
    /* margin-top: 10px; */
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    border-radius: 0px;
    
}

/* повернення до первинного стану */
.acor-container input:checked + label:before 
{
    transition: transform .35s;
    transform: rotate(-90deg);
}
/* випадаючий список */
.acor-container input:checked + label + .acor-body 
{
    height: auto;
    margin-top: -5px;
    margin-bottom: 10px;     
    color: #000;
    background-color: #FFFFFF;
    font-size: 18px;
    padding: 40px 70px 50px 33px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.acor-container p:checked + label + .acor-body
{
    border-left: 1px solid #000 ; 
    background-color: rgb(38, 4, 71);
    

} 
.img_bag_2
{
    position: absolute;
    left: 1642px;
    bottom: 92px;
}



/* SECTION 3 */
.section_3
{
    position: relative;
    height: 908px;
    text-align: center;
    padding-top: 123px; ;
    padding-left:374px; 
    padding-right:155px; 
}
.section_3 h2
{
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
}

/* SLIDER */

.slider {
    position: relative;
  }
  
  /* .slider__container {
    overflow: hidden;
  } */
  
  .slider__wrapper {
    overflow: hidden;
  }
  
  .slider__items {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slider_disable-transition {
    transition: none;
  }
  
  .slider__item {
    flex: 0 0 100%;
    max-width: 50%;
    user-select: none;
  }
  
  /* кнопки влево и вправо */
  
  .slider__control {
    content: '\276F';
    /* position: absolute; */
    bottom: 128px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 40px;
    color: black;
    text-align: center;
    height: 50px;
    transform: translateY(-50%);
    /* background: rgba(0, 0, 0, 0.2); */
    padding:18px 27px;

    border: 2px solid #67AEFC;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .slider_buttoms
  {
      margin-top: 84px;
      justify-content: center;
      align-items: center;
      justify-content: center;
      
  }
  
  .slider__control_hide {
    display: none;
  }
  
  .slider__control[data-slide='prev'] {
    left: 0;
  }
  
  .slider__control[data-slide='next'] {
    right: 0;
  }
  
  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .slider__control[data-slide='prev']::before {
    background-image: url(img/buttom_lable/Vector_left.png);
    width: 12px;
    height: 24px;
    

  }
  
  .slider__control[data-slide='next']::before {
    background-image: url(img/buttom_lable/Vector_right.png);
    width: 12px;
    height: 24px;
}
  
  /* индикаторы */
  
  .slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  
  .slider__indicators li.active {
    background-color: rgba(255, 255, 255, 0.9);
  }


  /*  */
  .slider_main_container
  {
    height: 382px;
    width: 672px;
    border: 2px solid #67AEFC;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: left;
    padding-left: 70px;
    padding-top: 53px;
    

  }

  .slider_main_container h3
  {
    width: 142px;
    margin: 0px;
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
  }
  .slider_main_container p
  { 
    margin: 0px;
    width: 300px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    vertical-align: middle;
  }

  .slider_main_container img
  {
    width: 250px;
    height: 250px;
  }
  
  .slider_main_container ul
  {
      display: flex;
      
      vertical-align: middle;
    padding-inline-start: 0px;
  }

  /* IMG_3 */
  .sphere_3
  {
    position: absolute;
    top: 129px;
    left: 197px;

  }
  .wave_3
  {
    position: absolute;
    bottom: 47px ;
    right: 186px;
  }



  /* SECTION 4 */

  .section_4
  {
    position: relative;
    height: 1749px; 
    background-color: #DAECFF ; 
    
    /* padding-left: 375px ; */
    /* justify: center; */
  }
  .section_4_content
  {
    
    margin-left: 375px;
    margin-right:375px;
  }
  .section_4_content h2
  {
    
    padding-top: 121px;
    padding-bottom: 51px;
    text-align: center;
  }
  
  .section_4 ul
  {
    display: flex;
    justify-content: space-between;
    width: 1168px;
  }


  .section_4_block
  {
    /* background:url(img/part4/two-miniature-green-blue-shopping-cart-yellow-background\ 1.jpg); */
    width: 569px;
    height: 447px;
  }

/* block 1 */

  .section_4_block_1
  {
    width: 569px;
    height: 447px;
    background:url(img/part4/two-miniature-green-blue-shopping-cart-yellow-background\ 1.jpg);
  }

  .section_4_block_1 h3, .section_4_block_1 p  
  { 
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  .section_4_block_1 h3
  {
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-top: 202px;
  }
  .section_4_block_1 p
  {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
  }  
  
  .section_4_block_1:hover
  {
   background: #67AEFC;
   border-radius: 15px;
  }
  .section_4_block_1:hover p, .section_4_block_1:hover h3
  {
    opacity: 1;
  }

  /* block 2 */


  .section_4_block_2
  {
    width: 569px;
    height: 447px;
    background:url(img/part4/baby-s-breath-flower-bottom-purple-backdrop.jpg)
  }

  .section_4_block_2 h3, .section_4_block_2 p  
  { 
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  .section_4_block_2 h3
  {
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-top: 202px;
  }
  .section_4_block_2 p
  {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
  }  
  
  .section_4_block_2:hover
  {
   background: #67AEFC;
   border-radius: 15px;
  }
  .section_4_block_2:hover p, .section_4_block_2:hover h3
  {
    opacity: 1;
  }

  /* block 3 */

  .section_4_block_3
  {
    width: 569px;
    height: 447px;
    background:url(img/part4/close-up-of-hair-dryer-and-brush\ 1.jpg)
  }

  .section_4_block_3 h3, .section_4_block_3 p  
  { 
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  .section_4_block_3 h3
  {
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-top: 202px;
  }
  .section_4_block_3 p
  {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
  }  
  
  .section_4_block_3:hover
  {
   background: #67AEFC;
   border-radius: 15px;
  }
  .section_4_block_3:hover p, .section_4_block_3:hover h3
  {
    opacity: 1;
  }

   /* block 4  */

   .section_4_block_4
  {
    width: 569px;
    height: 447px;
    background:url(img/part4/pexels-shiny-diamond-3373739.jpg)
  }

  .section_4_block_4 h3, .section_4_block_4 p  
  { 
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  .section_4_block_4 h3
  {
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-top: 202px;
  }
  .section_4_block_4 p
  {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
  }  
  
  .section_4_block_4:hover
  {
   background: #67AEFC;
   border-radius: 15px;
  }
  .section_4_block_4:hover p, .section_4_block_4:hover h3
  {
    opacity: 1;
  }

  /* block 5 */

  .section_4_block_5
  {
    width: 569px;
    height: 447px;
    background:url(img/part4/deva-williamson-ygTzbTHgDnY-unsplash.jpg)
  }

  .section_4_block_5 h3, .section_4_block_5 p  
  { 
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  .section_4_block_5 h3
  {
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-top: 202px;
  }
  .section_4_block_5 p
  {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
  }  
  
  .section_4_block_5:hover
  {
   background: #67AEFC;
   border-radius: 15px;
  }
  .section_4_block_5:hover p, .section_4_block_5:hover h3
  {
    opacity: 1;
  }

  /* block 6 */
  .section_4_block_6
  {
    width: 569px;
    height: 447px;
    background:url(img/part4/color-palette-catalogue-scheme-roller\ 1.jpg)
  }

  .section_4_block_6 h3, .section_4_block_6 p  
  { 
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  .section_4_block_6 h3
  {
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-top: 202px;
  }
  .section_4_block_6 p
  {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
  }  
  
  .section_4_block_6:hover
  {
   background: #67AEFC;
   border-radius: 15px;
  }
  .section_4_block_6:hover p, .section_4_block_6:hover h3
  {
    opacity: 1;
  }

  /* img 4 */

  .wave_4
  {
    position: absolute;
    left: 23px;
    top: 301px;
  }
  .sphere_4
  {
    position: absolute;
    right: 122px;
    bottom: 224px;
  }
  

  /* SECTION 5 */
  .section_5
  {
    position: relative;
    height: 724px;
    background-color: #fff;
  }
  .section_5_content
  {
    width: 669px;
    margin-left: 375px;
    padding-top: 216px;
    text-align: left;
  }
  .section_5_content h2
  {
    font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  }
  .section_5_content p
  {
    margin-top: 53px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }

/* bottom */

.application_bottom
{   
    display: block;

    width: 269px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    background-color: #75E169;
    border-radius: 5px;
    border: 1px solid #fff; 
    padding: 23px 55px; 
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 45px; 
}
.application_bottom:hover
{
    border: 2px solid #67AEFC;
    border-radius: 5px;
}
.application_bottom:active
{
    background: #67AEFC;
    border-radius: 5px;
}

/* img 5 */


.img_sphere1_5
{
position: absolute;
top:150px;
left:153px;
}
.img_history_5
{
  position: absolute;
  top: 214px;
  right: 625px;
  z-index: 1;
}
.img_order_5
{
  position: absolute;
  bottom: 104px;
  right: 309px;

}
.img_sphere2_5
{
  position: absolute;
  top:149px;
  right: 382px;
}
.img_sphere_5
{
  position: absolute;
  top: 138px;
  right: 311px;
}
.img_taper_5
{
  position: absolute;
  bottom: 274px;
  right: 144px;
}

/* SECTION 6 */

.section_6
  {
    position: relative;
    height: 774px;
    background-color: #DAECFF;
  }
  .section_6_content
  {
    width: 470px;
    margin-left: 689px;
    padding-top: 180px;
    text-align: center;
  }
.section_6_content form input
  {
    width: 470px;
    height: 58px;
    background: #FFFFFF;
    border: 1px solid #6EB1FB;
    box-sizing: border-box;
    border-radius: 10px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  
  /* bottom */

.send_bottom
{   
    display: block;
    width: 101px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    background-color: #75E169;
    border-radius: 5px;
    border: 1px solid #fff; 
    padding: 23px 84px; 
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 45px; 
    margin-left: 100px;
    margin-right: 100px;
}
.send_bottom:hover
{
    border: 2px solid #67AEFC;
    border-radius: 5px;
}
.send_bottom:active
{ 
    text-align: center;
    background: #67AEFC;
    border-radius: 5px;
}

.img_phone_6
{
  position: absolute;
  top: 262px;
  left:232px;
}
.imh_group_6
{
  position: absolute;
  top: 289px;
  right: 405px;
}


/* FOOTER */
footer
{
  height: 469px;
  background-color:#64ABF9 ;
}
.footer_conternt
{

}


.footer_content_mainUL
{
display: flex;
padding-top:107px;
margin-left: 375px;
margin-top: 0px;
}

.logo_footer
{
  width: 280px;
  height: 66px;
  margin-bottom: 45px;
  margin-right: 125px;
}
.footer_ul_l img
{
margin-right: 38px;
}
.footer_center ul
{
  margin-top: 14px;

}  
.footer_center ul a
{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer_right
{
  margin-left: 120px;
  margin-top: 20px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer_content p
{
  text-align: center;
  padding-top: 138px;
}
